<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219928089345-3d35uh45ojqeqn184alahv2jh3u9v754.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219928089345-3d35uh45ojqeqn184alahv2jh3u9v754</string>
	<key>API_KEY</key>
	<string>AIzaSyDCaqCPdzxg-PvC_uvgjGHt7vDtnoaTepE</string>
	<key>GCM_SENDER_ID</key>
	<string>219928089345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otto.galleryapp</string>
	<key>PROJECT_ID</key>
	<string>galleryapptest-d327e</string>
	<key>STORAGE_BUCKET</key>
	<string>galleryapptest-d327e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219928089345:ios:8d6857e63c1f081781c100</string>
	<key>DATABASE_URL</key>
	<string>https://galleryapptest-d327e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>